# 解决 Lombok @Data 以下警告信息
# Generating equals/hashCode implementation but without a call to superclass, even though this class does not extend java.lang.Object. If this is intentional, add @EqualsAndHashCode(callSuper=false) to your type.
# 必须放在项目的根目录下
# 阻止 Lombok 的警告信息冒泡到 Maven 或 Gradle 控制台中，减少不必要的干扰。
config.stopBubbling = true
lombok.equalsAndHashCode.callSuper = call