<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.izpan.modules.system.repository.mapper.SysUserMapper">

    <resultMap id="SysUserResultMap" type="com.izpan.modules.system.domain.entity.SysUser">
        <id column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="password"/>
        <result column="nick_name" property="nickName"/>
        <result column="real_name" property="realName"/>
        <result column="avatar" property="avatar"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="gender" property="gender"/>
        <result column="create_user" property="createUser"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="updateTime" property="updateTime"/>
        <result column="salt" property="salt"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="update_password_time" property="updatePasswordTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <select id="getUserByUserName" resultMap="SysUserResultMap">
        SELECT *
        FROM sys_user su
        WHERE su.user_name = #{userName}
          AND su.is_deleted = 0
    </select>

    <select id="queryIsContainAdmin" resultType="java.lang.Boolean">
        SELECT 1
        FROM sys_user su
        WHERE su.is_deleted = 0
        AND su.status = 1
        AND su.user_name = 'admin'
        AND su.id IN
        <foreach collection="userIds" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </select>


</mapper>
